body { font-family: arial; width: 90%; margin: 0 5%; background: #fff; }
a { text-decoration: none; }

#header { width: 100%; border-bottom: 1px solid #A7A7A7; padding: 10px 0; display: inline-block; }
#footer { bottom: 5px; width: 100%; border-top: 1px solid #A7A7A7; }

.forms { width: 700px; margin: 0 auto; }
.label { font-size: 16px; padding: 5px 0; }
.text { width: 100%; height: 40px; border: none; font-size: 16px; padding: 0 10px; box-sizing: border-box; }
.border { border-bottom: 1px solid #A7A7A7; }
.border-all { border: 1px solid #A7A7A7; }
.button { font-size: 20px; padding: 15px 20px; font-weight: bold; background:#5d6d7e; border: none; cursor: pointer; color: #fff; }
.error-text { border: 2px solid #F73A3D !important; }
.error { font-size: 14px; color: #FF5659; padding: 5px 0; }

p.hide { display: none; }
