<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Email{% endblock %}</title>
        {% block stylesheets %}<link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="header">
            <h1>{% block header %}{% endblock %}</h1>
        </div>

        <div id="body">
            {% block body %}{% endblock %}
        </div>

        <div id="footer">
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
